- name: upgrade system (debian)
  apt:
    update_cache: true
    state: latest

- name: install base packages (debian)
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - ntp
    - unzip
    - bzip2
    - curl
    - python-software-properties
    - bash-completion
    - python-selinux
    - e2fsprogs
    - openssh-server
