#!/bin/bash

usage="$0 <start>"
if [ $# -ne 1 ]; then
    echo USAGE: $usage
    exit 1
fi

set -x -e
    
case $1 in
start)
    /sbin/ucarp --shutdown --interface={{ monitor_interface }} \
        --srcip={{ hostvars[ansible_hostname]['ansible_' + monitor_interface]['ipv4']['address'] }} \
        --vhid=1 --pass=cluster_secret --addr={{ service_vip }} \
        --upscript="/usr/bin/ucarp/vip_up.sh" --downscript="/usr/bin/ucarp/vip_down.sh"
    ;;

*)
    echo USAGE: $usage
    exit 1
esac
