{
    "K8S_API_SERVER": "https://{{ service_vip }}:{{ k8s_api_secure_port }}",
    "K8S_CA": "{{ k8s_cert_dir }}/ca.crt",
    "K8S_KEY": "{{ k8s_cert_dir }}/kubecfg.key",
    "K8S_CERT": "{{ k8s_cert_dir }}/kubecfg.crt"
}
