[Unit]
Description=Volume Plugin
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
ExecStart=/opt/golang/bin/volplugin --debug tenant1
KillMode=process
