[Unit]
Description=Swarm
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
ExecStart=/usr/bin/swarm.sh start
ExecStop=/usr/bin/swarm.sh stop
KillMode=control-group
