{
"apiVersion": "v1",
"kind": "Pod",
"metadata": {
  "name": "k8s-worker",
  "namespace": "kube-system"
},
"spec":{
  "hostNetwork": true,
  "containers":[
    {
      "name": "kube-proxy",
      "image": "{{ k8s_image }}:{{ k8s_version }}",
      "command": [
              "/hyperkube",
              "proxy",
              "--master=http://127.0.0.1:{{ k8s_api_insecure_port }}",
              "--v=2",
              "--resource-container=\"\""
      ],
      "securityContext": {
        "privileged": true
      }
    }
  ],
  "volumes": [
    {
      "name": "data",
      "hostPath": { "path": "{{ k8s_cert_dir }}" }
    }
  ]

 }
}
