#!/bin/bash

usage="$0 <start|stop>"
if [ $# -ne 1 ]; then
    echo $usage
    exit 1
fi

export ETCD_NAME={{ node_name }}
export ETCD_DATA_DIR=/var/lib/etcd
export ETCD_INITIAL_CLUSTER_STATE=new
export ETCD_INITIAL_CLUSTER_TOKEN=contiv-cluster
export ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379,http://0.0.0.0:4001
export ETCD_ADVERTISE_CLIENT_URLS=http://{{ node_addr }}:2379,http://{{ node_addr }}:4001
export ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ node_addr }}:2380,http://{{ node_addr }}:7001
export ETCD_LISTEN_PEER_URLS=http://{{ node_addr }}:2380
export ETCD_INITIAL_CLUSTER="{{ node_name }}=http://{{ node_addr }}:2380,{{ node_name }}=http://{{ node_addr }}:7001"

case $1 in
start)
    ONLINE_MASTER_ADDR={{ online_master_addr }}
    # if a master address is provided then we need to ad dthe node to existing cluster
    if [ "$ONLINE_MASTER_ADDR" != "" -a "$ONLINE_MASTER_ADDR" != "{{ node_addr }}" ]; then
        # XXX: There seems an issue using etcdctl with ETCD_INITIAL_ADVERTISE_PEER_URLS so passing
        # ETCD_LISTEN_PEER_URLS for now
        out=`etcdctl --peers="{{ online_master_addr }}:2379,{{ online_master_addr }}:4001" \
            member add {{ node_name }} "$ETCD_LISTEN_PEER_URLS"`
        if [ $? -ne 0 ]; then
            echo "failed to add member {{ node_name }}"
            exit 1
        fi
        # parse and export the environment returned by member add
        export `echo $out | awk -F 'ETCD_' '{print "ETCD_"$2 "ETCD_"$3 "ETCD_"$4}' | sed s/\"//g`
    fi

    #start etcd
    echo "==> starting etcd with environment:" `env`
    /usr/bin/etcd > /tmp/etcd.log
    ;;

stop)
    #XXX: do better cleanup like remove the member from the cluster only if it was started
    out=`etcdctl member list | grep {{ node_name }} | awk -F ':' '{print $1}'`
    if [ "$out" != "" ]; then
        echo "==> removing member: " $out
        etcdctl member remove $out
    fi
    ;;

post-stop)
    #XXX: is there a case whe we should not cleanup the data dir on stop?
    rm -rf $ETCD_DATA_DIR
    ;;

*)
    echo $usage
    exit 1
esac
