[Unit]
Description=Etcd
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
ExecStart=/usr/bin/etcd.sh start
ExecStop=/usr/bin/etcd.sh stop
KillMode=control-group
ExecStopPost=/usr/bin/etcd.sh post-stop
