#!/bin/bash

usage="$0 start"
if [ $# -ne 1 ]; then
    echo USAGE: $usage
    exit 1
fi

case $1 in
start)
    echo starting swarm as {{ run_as }} on {{ node_name }}[{{ node_addr }}]
    # XXX: we run etcd as master every where so it is fine to use the node-address for etcd, revisit this once we have
    # etcd as master only on a subset of nodes
    if [[ "{{ run_as }}" == "master" ]]; then
        /usr/bin/swarm join --advertise={{ node_addr }}:{{ docker_api_port }} etcd://{{ node_addr }}:{{ etcd_client_port1 }} &
        /usr/bin/swarm manage -H tcp://{{ node_addr }}:{{ swarm_api_port }} etcd://{{ node_addr }}:{{ etcd_client_port1 }}
    else
        /usr/bin/swarm join --advertise={{ node_addr }}:{{ docker_api_port }} etcd://{{ node_addr }}:{{ etcd_client_port1 }}
    fi
    ;;

*)
    echo USAGE: $usage
    exit 1
    ;;
esac
