[Unit]
Description=Clusterm
After=auditd.service systemd-user-sessions.service time-sync.target serf.service collins.service

[Service]
EnvironmentFile=/etc/default/clusterm
ExecStart=/usr/bin/clusterm $CLUSTERM_ARGS
Restart=on-failure
RestartSec=10
KillMode=control-group
