---
# This role contains tasks for configuring and starting the storage service

- name: download storage service binaries
  get_url:
    validate_certs: "{{ validate_certs }}"
    url: "{{ contiv_storage_src_file }}"
    dest: "{{ contiv_storage_dest_file }}"

- name: install storage service
  shell: tar vxjf {{ contiv_storage_dest_file }}
  args:
    chdir: /usr/bin/

- name: copy environment file for volmaster
  copy: src=volmaster dest=/etc/default/volmaster
  when: run_as == "master"

- name: copy systemd units for volmaster
  copy: src=volmaster.service dest=/etc/systemd/system/volmaster.service
  when: run_as == "master"

- name: start volmaster
  service: name=volmaster state=restarted
  when: run_as == "master"

- name: copy environment file for volsupervisor
  copy: src=volsupervisor dest=/etc/default/volsupervisor
  when: run_as == "master"

- name: copy systemd units for volsupervisor
  copy: src=volsupervisor.service dest=/etc/systemd/system/volsupervisor.service
  when: run_as == "master"

- name: start volsupervisor
  service: name=volsupervisor state=restarted
  when: run_as == "master" and contiv_storage_supervisor_host != ""
  run_once: true
  delegate_to: "{{ contiv_storage_supervisor_host }}"

- name: copy environment file for volplugin
  template: src=volplugin.j2 dest=/etc/default/volplugin

- name: copy systemd units for volplugin
  copy: src=volplugin.service dest=/etc/systemd/system/volplugin.service

- name: start volplugin
  service: name=volplugin state=restarted
