#!/bin/bash

usage="$0 start"
if [ $# -ne 1 ]; then
    echo USAGE: $usage
    exit 1
fi

case $1 in
start)
    set -e

    /usr/bin/docker run -t -p {{ collins_host_port }}:{{ collins_guest_port }} \
        --name collins {{ collins_image }}
    ;;

stop)
    # skipping `set -e` as we shouldn't stop on error
    /usr/bin/docker stop collins
    /usr/bin/docker rm collins
    ;;

*)
    echo USAGE: $usage
    exit 1
    ;;
esac
